@import "../style.css";
		.G$_ICON_BTN_CLASS
		{
			
      font-size:8pt;
      width: 20px;
      height: 20px;
		}
	
		.G$_ICON_BTN_CLASSPrompt
		{
			
      font-size:8pt;
			
		}
	
		.G$_CALENDAR_BTN_CLASS
		{
			
      font-size:8pt;
      width: 20px;
      height: 20px;
		}
	
		.G$_CALENDAR_BTN_CLASSPrompt
		{
			
      font-size:8pt;
			
		}
	