@import "../style.css";
		.G$_DATA_SEPARATOR_LINE_CLASS
		{
			
      font-size:8pt;
      width: 1001px;
      height: 5px;
		}
	
		.G$_DATA_SEPARATOR_LINE_CLASSPrompt
		{
			
      font-size:8pt;
			
		}
	
		.G$_ID_CLASS
		{
			
      font-size:8pt;
      width: 72px;
      height: 23px;
		}
	
		.G$_ID_CLASSPrompt
		{
			
      font-size:8pt;
			
		}
	
		.G$_NAME_CLASS
		{
			
      font-size:8pt;
      height: 23px;
		}
	
		.G$_NAME_CLASSPrompt
		{
			
      font-size:8pt;
			
		}
	
		.G$_FLASHLITE_BTN_CLASS
		{
			
      font-size:8pt;
      width: 20px;
      height: 20px;
		}
	
		.G$_FLASHLITE_BTN_CLASSPrompt
		{
			
      font-size:8pt;
			
		}
	
		.G$_ICON_BTN_CLASS
		{
			
      font-size:8pt;
      width: 20px;
      height: 20px;
		}
	
		.G$_ICON_BTN_CLASSPrompt
		{
			
      font-size:8pt;
			
		}
	
		.G$_CALENDAR_BTN_CLASS
		{
			
      font-size:8pt;
      width: 20px;
      height: 20px;
		}
	
		.G$_CALENDAR_BTN_CLASSPrompt
		{
			
      font-size:8pt;
			
		}
	